<p>home-chilren works!</p>
<a [routerLink]="['']" [queryParams]="{ page: 1 }">Home</a><br>
<app-child></app-child>
<div> 
    <form [formGroup]="loginForm" (ngSubmit)="onClickSubmit(loginForm.value)"> 
       <input type="email" name="email" placeholder="email" formControlName="email"> 
       <br/>     
       <input type="password" name="password" placeholder="password" formControlName="password">
       <br/>
       <input type="submit" [disabled]="!loginForm.valid" value="Log In"> 
    </form> 
 </div>
